In [37]:
import datetime as dt

today = dt.date(2018, 11, 17)
today + dt.timedelta(1) > today

True

In [5]:
import pandas as pd

df1 = pd.DataFrame()
df2 = pd.DataFrame({'x': [1, 2], 'y': [1, 4]}).set_index('x')
df1 = df1.append(df2).drop_duplicates()
df1

   y
x
1  1
2  4

In [20]:
df1 = df1.append(df2).drop_duplicates()
df1

   y
x
1  1
2  4

In [28]:
1 in df1.index

True

In [30]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\johnn\\Desktop\\sports_betting'